/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import "reset.scss";*/

  header {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #ffca60;
    height: 80px;
    box-sizing: border-box;
    color: white;
  }

  .signin-link, {
    color: white;
  }

  .signin-signup {
    display: flex;
    float: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 0.75em;
    line-height: 39px;
    color: white;
    height: 100px;
    align-items: center;
  }

  /*.signup-link a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }*/

  .header-button {
    background-color: #ffca60 ;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    padding: 0px 18px;
    border: 2px solid #ffca60;
    border-radius: 3px;
    font-size: 0.9em;
    transition: color .2s, background-color .2s, border-color .2s
  }

  .header-button:hover {
    cursor: pointer;
    background-color: white;
    color: #ffca60;
    border-color: white;
    transition: color .2s, background-color .2s, border-color .2s
  }

  /*.signup-link:hover {
    cursor: pointer;
    background-color: #ffca60;
    border-color: white;
    color: white;
    transition: background-color .2s, color .2s;
  }*/

  .session-form-submit-button {
    background-color: #EF6236 ;
    border: 2px solid #EF6236;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 99%;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .2s, color .2s;
  }

  .session-form-submit-button:hover {
    background-color: #c63b10;
    border-color: #c63b10;
    transition: background-color .2s, color .2s;
  }

  .demo-login {
    background-color: #fff9e6 ;
    border: 2px solid #EF6236;
    border-radius: 10px;
    color: EF6236;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 99%;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .2s, color .2s;
  }

  .demo-login:hover {
    background-color: #EF6236;
    border-color: #EF6236;
    color: white;
    transition: background-color .2s, color .2s;
  }

  body {
    background-color: #fff9e6;
    color: #477DCA;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.625;

    strong {
      font-weight: 600;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
  }

  h4, h5, h6 {
    font-weight: 400;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
    color: #EF6236;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.8em;
  }

  h6 {
    font-size: 0.6em;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .signup-link {
    padding: 0px 18px;
    background-color: #FEFEFE;
    border: 2px solid #FEFEFE;
    border-radius: 3px;
    color: #F7BF4D;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color .2s, color .2s;
  }

  .signup-link:hover {
    cursor: pointer;
    background-color: #ffca60;
    border-color: white;
    color: white;
    transition: background-color .2s, color .2s;
  }

  .secondary-signin-link, .secondary-signup-link {
    padding: 0px 18px;
    background-color: #F7BF4D;
    border: 2px solid #F7BF4D;
    border-radius: 3px;
    color: #FEFEFE;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .signin-greeting-container, .signup-greeting-container {
    font-size: 1.1em;
    margin-bottom: 18px;
    padding-bottom: 18px;
    color: #EF6236;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
    align-content: center;
    align-items: center;
    float: left;
  }

  .session-form-main-container {
    text-align: center;
    display: inline-block;
    width: 80%;
    max-width: 680px;
  }

  .session-form-main-container-blurb {
    text-align: left;
    /*display: inline-block;*/
    margin-bottom: 18px;
    padding-left: 2px;
    justify-content: flex-start;
    text-align: -webkit-left;
    /* align-items: flex-start; */
    /* align-self: left; */
    /* display: inline-block; */
    /* display: flex; */
    /* justify-content: left; */
    margin-right: 30%;
  }

  .session-form {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  form {
    align-content: flex-end;
  }

  .session-form-input {
    display: block;
    margin: 0 0 0.8125em 0;
    padding: 1em;
    padding-right: 0.5em;
    width: 100%;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #DDD;
    width: 95%;
    /*height: 40px;*/
    font-size: 18px;
  }

  .errors {
    color: red;
    /*text-transform: uppercase;*/
    font-size: 14px;
    padding-top: 8px;
  }

  header {
    padding: 0 1em;
  }

  .header-group {
    display: flex;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  #app-h1 {
    padding-left: .5em;
    float: left;
  }

  .session-form-navlink-home {
    display: flex;
    float: left;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: 1px;
    padding: 0.75em;
    line-height: 39px;
    color: white;
    height: 100px;
  }

  .greeting-thing {
    display: flex;
    /* text-align: center; */
    align-items: center;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .cities-link {
    margin-right: 18px;
  }

  .city-img {
    height: auto;
    max-width: 320px;
  }

  .city-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .city {
    background-position: center top;
    background-size: 100% auto;
    width: 400px;
    height: 200px;
    margin-bottom: 18px;
    text-align: center;
  }

  .city-name {
    margin-top: 65px;
    text-transform: uppercase;
    color: white;
    font-size: 2.5em;
    line-height: 1.625;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
  }

  .dark-center {
    margin-bottom: 9px;
    text-align: center;
    color: #5C5C5C;
    font-size: 2.5em;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
  }

  .city-blurb {
    padding: 3em 0 1.5em;
    border-bottom: 1px #DDD solid;
    margin-bottom: 1.5em;
    box-sizing: inherit;
    display: block;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.625;
  }

  .header-small {
    text-align: center;
    margin-bottom: 0;
    margin: 0 0 0.8125em;
    box-sizing: inherit;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.625;
  }

  .cities-list-header {
    margin-bottom: 0.5em;
    align-items: center;
  }

  h2.center, h4.center {
    text-align: center;
  }

  h2.center {
    margin-bottom: 0.5em;
  }

  h4.center {
    color: black;
    text-align: center;
  }

  .chunk-pic-div {
    width: 100%;
    height: 300px;
    background-position: center;
  }

  .city-top-chunk {
    background-position: center;
    height: 350px;
    margin-bottom: 54px;
  }

  .city-show-name {
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 140px;
    text-shadow: 2px 2px 5px #000;
  }

  .city-show-name-blurb {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .city-bottom-chunk {
    max-width: 1020px;
    margin-left: auto;
    rgin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
  }

  .bottom-big-blurb {
    font-size: 1.5em;
    color: #EF6236;
    margin-bottom: 18px;
  }

  .bottom-little-blurb {
    font-size: 18px;
    color: black;
    line-height: 1.625;
  }

  .logged-in-cities-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.88em;
    letter-spacing: 1px
  }

  .set-home-button {
    background-color: #ffca60;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid #ffca60;
    border-radius: 3px;
    font-size: 0.9em;
    transition: color .2s, background-color .2s, border-color .2s;
    padding: 10px 18px;
    margin-top: 18px;
  }

  .home-city-button-div {
    display: flex;
    justify-content: center;
  }

  .set-home-button:hover {
    cursor: pointer;
    background-color: #fff9e6;
    color: #ffca60;
    border-color: #ffca60;
    transition: color .2s, background-color .2s, border-color .2s
  }

  .city-events-blurb {
    display: flex;
    margin-top: 18px;
    justify-content: center;
  }

  .logo-img {
    max-width: 250px;
    width: 100%;
  }

  .dashboard-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.88em;
    letter-spacing: 1px;
    margin-left: 18px;
  }

  .banner-img {
    height: 280px;
    display: flex;
    background-size: cover;
    background-position: center;
  }

  .banner-button {
    background-color: #EF6236;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    padding: 0px 18px;
    border: 2px solid #ffca60;
    border-radius: 3px;
    border-color: #EF6236;
    font-size: 0.9em;
    transition: color .2s, background-color .2s, border-color .2s;
  }

  .banner-button:hover {
    cursor: pointer;
    background-color: white;
    color: #EF6236;
    border-color: #EF6236;
    transition: color .2s, background-color .2s, border-color .2s
  }

  .banner-words {
    display: inline-block;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .big-banner-blurb {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px #000;
  }

  .little-banner-blurb {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px #000;
  }

  .banner-link {
    display: flex;
    justify-content: center;
  }

  .big-unnecessary-blurb {
    display: block;
    text-align: center;
  }

  .little-unnecessary-blurb {
    color: black;
    display: block;
    text-align: center;
  }

  .unnecessary-info {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
  }

  .unnecessary-div {
    max-width: 33%;
    align-items: center;
    margin-left: 25px;
  }

  .city-events-div {
    align-content: center;
    text-align: center;
  }

  .event {
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

  .city-event-info {
    background-color: white;
    border: 1px solid lightgrey;
  }

  .join-button {
    background-color: #ffca60 ;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    padding: 0px 18px;
    border: 2px solid #ffca60;
    border-radius: 3px;
    font-size: 0.9em;
    transition: color .2s, background-color .2s, border-color .2s
  }

  .join-button:hover {
    cursor: pointer;
    background-color: white;
    color: #ffca60;
    border-color: ffca60;
    transition: color .2s, background-color .2s, border-color .2s
  }

  .event-address {
    color: #929292;
    font-weight: 400;
    font-size: 0.8em;
  }

  .event-datetime {
    color: #333;
    font-size: 1.25em;
    font-weight: 600;
  }

  .already-set {
    color: #eda20b;
    background-color: #f1e9c6;
    padding: 20px;
    margin-top: 18px;
  }

  .what-is-a-strong {
    font-weight: 600;
    color: #eda20b;
  }

  .back-to-cities {
    color: #EF6236
  }

  .back-to-cities:hover {
    cursor: pointer;
    filter: brightness(70%);
  }
